# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. Pandas
3. Pytorch

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| TensorFlow |

In [7]:
### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [9]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
- list data science languages
- list data science libraries
- showcase data science tools in a table
- introduce arithematic expressions

## Author
Nayamo